@charset "UTF-8";
* {
  box-sizing: border-box; }

header, footer {
  text-align: center; }

/* html {
  background-color: red;
} */
/* ↓ W3SCHOOLS CODE ↓ */
body {
  /* background-color: #f1f1f1; */
  padding: 20px;
  /* font-family: Arial; */
  /* background-color: green; */
  margin: 0; }

/* Center website */
/* .main {
  max-width: 1000px;
  margin: auto;
} */
/* h1 {
  font-size: 50px;
  word-break: break-all;
} */
.row {
  margin: 8px -16px; }

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px; }

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none;
  /* Hide columns by default */ }

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Content */
.content {
  background-color: white;
  padding: 10px;
  border: 1px solid #e6e6e6; }

/* The "show" class is added to the filtered elements */
.show {
  display: block; }

/* Style the buttons */
.btn {
  border: 1px solid grey;
  outline: none;
  text-decoration: none;
  margin: 0 12px;
  padding: 12px 24px;
  font-size: 14px;
  border-radius: 20px;
  background-color: white;
  color: grey;
  cursor: pointer; }

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: grey;
  color: white; }

/* Add a dark background color to the active button */
.btn.active {
  background-color: grey;
  color: white; }
