@charset "UTF-8";
* {
  box-sizing: border-box; }

header {
  text-align: center;
  padding: 24px 0; }
  header img {
    width: 100px;
    height: auto; }
  @media only screen and (min-width: 900px) {
    header img {
      width: 150px;
      height: auto; } }

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 8px;
  border-top: 1px solid #DDD; }

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #3A3A3A; }
  .hero h1 {
    word-break: break-all;
    color: white;
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    line-height: 1.2em;
    margin: 0; }
  @media only screen and (min-width: 600px) {
    .hero h1 {
      font-size: 3em; } }
  @media only screen and (min-width: 900px) {
    .hero h1 {
      font-size: 4.5em; } }

.main {
  padding: 20px; }

.sns-links a {
  font-size: 20px;
  margin: 0 8px;
  color: #3A3A3A; }

/* ↓ (MODIFIED) W3SCHOOLS CODE ↓ */
.row {
  margin: 8px -16px; }

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px; }

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  display: none;
  /* Hide columns by default */ }

@media only screen and (min-width: 600px) {
  .column {
    width: 50%; } }

@media only screen and (min-width: 900px) {
  .column {
    width: 33.33%; } }

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Content */
.content {
  padding: 10px;
  border: 1px solid #DDD; }

/* The "show" class is added to the filtered elements */
.show {
  display: block; }

/* Style the buttons */
.btn {
  outline: none;
  border: 1px solid #3A3A3A;
  margin: 0 4px;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 28px;
  background-color: white;
  color: #3A3A3A;
  cursor: pointer; }

@media only screen and (min-width: 900px) {
  .btn {
    margin: 0 8px;
    padding: 16px 32px; } }

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #3A3A3A;
  color: white; }

/* Add a dark background color to the active button */
.btn.active {
  background-color: #3A3A3A;
  color: white; }

#myBtnContainer {
  text-align: center;
  margin: 16px 0; }
